<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <meta charset="UTF-8">
    <title>Characters</title>
</head>
<body>
    <header>
      <div class="navbar">
              <a href="{{ url_for('menu') }}">Menu</a>
              <a href="{{ url_for('login') }}">Login</a>
              <a href="{{ url_for('system_report') }}">System Report</a>
              <a href="{{ url_for('systems') }}">Systems</a>
              <a href="{{ url_for('report_viewer') }}">Reports</a>
      </div>
    </header>
    <div class="main">
{%- for character in character_list %}
<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <div class="container">
          <img src="{{ "https://images.evetech.net/characters/" + character['name']|string+ "/portrait?size=256" }}" alt="{{character['_id']}}" style="width:256px;height:256px;">
          <div class="centered">{{ character['_id'] }}</div>
        </div>
    </div>
    <div class="flip-card-back">
        <ul>
            <li><a href="{{ url_for('character',name = character["_id"]) }}" class = "flyout-button">Detail</a></li>
            <li><a href="{{"https://evewho.com/character/" + character["name"]|string}}" target="_blank" rel="noreferrer noopener" class = "flyout-button">EveWho</a></li>
            <li><a href="{{"https://zkillboard.com/character/" + character["_id"] + "/" }}" target="_blank" rel="noreferrer noopener" class = "flyout-button">zKill</a></li>
            <li><a href="{{ url_for('system',name = character['last_system']) }}" class = "flyout-button">In System: {{character['last_system']}}</a></li>
            <li><a href="{{ url_for('report',id =  character['last_report'])}}" class = "flyout-button">Report</a></li>
            <div class="flip-card-flyout">
                <div class="container">
                    <img src="{{ "https://images.evetech.net/characters/" + character['name']|string+ "/portrait?size=256" }}" alt="{{character['_id']}}" style="width:256px;height:256px;">
                    <div class="centered">{{ character['_id'] }}</div>
                </div>
                    {%- for system in character["common_systems"] %}
                        {% if system != "NA" %}
                            <li><a href="{{ url_for('system',name = system_data[system]["name"]) }}" class = "flyout-button">{{system_data[system]["name"]}}</a></li>
                        {% endif %}
                    {% endfor %}
            </div>
        </ul>
    </div>
  </div>
</div>
{% endfor %}
    </div>
</body>
</html>