<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <meta charset="UTF-8">
    <title>{{character['_id']}}</title>
</head>
    <body>
    <div class="main">
        <a class="menu_button" href="{{ url_for('index') }}">Menu</a>
        <button class="menu_button" onclick="history.back()">Go Back</button>
        <br>
        <img src="{{ "https://images.evetech.net/characters/" + character['name']|string+ "/portrait?size=256" }}" alt={{character['_id']}}>
        <ul class="menu">
            <li>NAME: {{character['_id']}}</li>
            <li>ID: {{character['name']}}</li>
            <li><a href="{{"https://zkillboard.com/character/" + character["_id"] + "/" }}">zKill</a></li>
            <li><a href="{{"https://evewho.com/character/" + character["name"]|string}}">EveWho</a></li>
            <li>Last Seen at: {{character['last_seen']}}</li>
            <li><a href="{{ url_for('system',name = character['last_system']) }}">In System: {{character['last_system']}}</a></li>
            <li><a href="{{ url_for('report',id =  character['last_report'])}}">Report</a></li>
            <li>Notes:</li>
                <ul>
                {%- for note in character['notes'] %}
                    <li>{{ note }}</li>
                {% endfor %}
                </ul>

        <form action="{{ url_for('post_comment',name=character['_id']) }}" method="post">
    <label for="note">Comment:</label>
    <label>
        <textarea name="note" cols="50" rows="5"></textarea>
    </label>
    <input type="submit">
</form>


        </ul>
    </div>
    </body>
</html>