<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <meta charset="UTF-8">
    <title>LONGBOW</title>
</head>
  <body>
    <header>
      <div class="navbar">
              <a href="{{ url_for('system_report') }}">System Report</a>
              <a href="{{ url_for('login') }}">Login</a>
              <a href="{{ url_for('characters') }}">Characters</a>
              <a href="{{ url_for('systems') }}">Systems</a>
              <a href="{{ url_for('report_viewer') }}">Reports</a>
      </div>
    </header>
        <div class="main">
            <h1 class="main_title">LONGBOW</h1>
        </div>
  </body>
</html>