<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <meta charset="UTF-8">
    <title>LONGBOW</title>
</head>
  <body>
    <header>
      <div class="container">
        <h1 class="main_title">LONGBOW</h1>
        <h2 class="logo">Menu</h2>
          <ul class="menu">
              <li><a href="{{ url_for('system_report') }}">System Report</a></li>
              <li><a href="{{ url_for('login') }}">Login</a></li>
              <li><a href="{{ url_for('characters') }}">Characters</a></li>
              <li><a href="{{ url_for('systems') }}">Systems</a></li>
              <li><a href="{{ url_for('report_viewer') }}">Reports</a></li>
          </ul>
      </div>
    </header>
  </body>
</html>