<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System Report</title>
</head>
<body>
<a href="{{ url_for('index') }}">Menu</a>
<form action="{{ url_for('post_system_report') }}" method="post">
    <label for="system">System:</label>
    <label>
        <input type="text" name="system">
    </label>
    <label for="characters">Characters:</label>
    <label>
        <textarea name="characters" cols="50" rows="5"></textarea>
    </label>
    <label for="dscan">DSCAN:</label>
    <label>
        <textarea name="dscan" cols="50" rows="5"></textarea>
    </label>
    <input type="submit">
</form>
</body>
</html>